// Главный файл импорта
@import 'variables';
@import 'base';
@import 'typography';
@import 'layout';
@import 'components';
@import 'hero';
@import 'temperament';
@import 'test';
@import 'result';
@import 'about';
@import 'home';
@import 'responsive';
@import 'error-styles';