@import 'variables';
@import 'base';
@import 'layout';
@import 'typography';
@import 'animations';
@import 'mixins';
@import 'components';
@import 'hero';
@import 'home';
@import 'temperament';
@import 'test';
@import 'result';
@import 'about';
@import 'error-styles';
@import 'responsive';